body {
    background-image: url('papers.co-mg00-cloud-flare-dark-sky-wanna-fly-nature-29-wallpaper.jpg');
    /* https://papers.co/desktop/mg00-cloud-flare-dark-sky-wanna-fly-nature/ */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main, main a, main p{
    color:white;
}

/*
    Andy Dong
    INFO 151 001
    Drexel ID: 14554490
*/
footer, footer p, footer a{
    color:white;
    text-decoration: none;
}

main h1, main h2, main h3, main h4, main h5{
    font-size: 30px;
}

.calendar {
    color: white;
    position: fixed;
    top: 10px;
    right: 10px;
}

.clock {
    color: white;
    position: fixed;
    top: 40px;
    right: 10px;
}

.title_msg{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center; 
    justify-content: center;
}

#bigHeader{
    font-size: 50px; 
    padding: 0 5% 5% 5%; 
    word-spacing: 1.5rem; 
    letter-spacing: 10px;
}

/*
    Andy Dong
    #6_ad4245: 14554490
*/
.footer {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;
}

footer a{
    display: inline;
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

footer p{
    display: inline;
    color: #fff;
    text-decoration: none;
    margin: 10px 5%;
}

@media (max-width: 500px) {
    .navbar {
        width: 80px; 
    }

    .stuff {
        flex-direction: row;
    }

    .footer {
        flex-direction: row; 
        justify-content: space-evenly;
        width: 100%;
    }
}